.heroContainer {
  background-color: var(--color-black);
  height: 270px;
  color: var(--color-white);
  padding: 28px 28px 0 0;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 31px;
}
